<h3>HOME</h3>

<form id="form">
    <label>Product: </label><input type="text" name="title">
    <label>Description: </label><input type="text" name="description">
    <label>Code: </label><input type="number" name="code">
    <label>Price: </label><input type="number" name="price">
    <label>Stock: </label><input type="number" name="stock">
    <label>Category: </label><input type="text" name="category">
    <input type="submit" value="SEND">
</form>

<p id="products"></p>

<script src="/socket.io/socket.io/js"></script>
<script src="js/index.js"></script>